<div ng-controller='render' ng-init="tab = 'jobqueue'">
    <style>
        .renderopts {
            float: left;
            margin-right: 5px;
        }
        .rangeinput {
            width: 65px;
        }
        h3 {
            size: 1.5rem;
        }
        .cb {
            list-style: none;
            padding: 10px;
            display: block;
            background-color: #000;
            color: #FFF;
            border: 1px solid black;
            border-radius: 5px;
        }
        .cb:hover {
            background-color: #4a4a4a;
            color: #FFF;
        }
        #debug {
          position: absolute;
          top: 3em;
          right: 1em;
          bottom: 1em;
          max-width: 400px;
          width: 100%;
          font-size: .9em;
          border: 1px solid #333;
          overflow: scroll;
        }
        #stdout {
        }
        #stdout li {
          border-bottom: 1px solid #333;
          font-family: monospace;
          white-space: pre;
        }
        #jobqueue {
          margin-right: 200px;
          padding: 0 1em;
        }
        #spawninstances {
          margin-right: 200px;
          padding: 0 1em;
        }
        .renderopts>h3 {
          margin-top: 0;
        }
        #spawninstances ul {
          list-style: none;
          padding: 0;
          margin: 0;
        }
        #spawninstances .instance_type {
          vertical-align: middle;
          margin-bottom: 0;
        }
        #spawninstances .instance_price_refresh,
        #brendaOptions .blender_files_refresh {
          vertical-align: middle;
          margin-left: .5em;
        }
        #spawninstances .instance_prices {
        }
        #spawninstances .instance_prices>li {
          display: inline-block;
          padding: .5em .2em;
          margin: .5em .2em;
          border-radius: .5em;
        }
        #spawninstances .instance_prices>li.state_selected {
        }
        #spawninstances .instance_prices>li label {
          color: black;
          margin-bottom: 0;
        }
        #spawninstances .instance_prices>li h4 {
          display: inline-block;
          margin: 0 .2em;
          vertical-align: middle;
        }
        #spawninstances .instance_prices>li em {
          display: block;
          margin-top: .2em;
          font-size: 1.3em;
          font-style: normal;
        }
        #spawninstances .instance_prices>li em:after {
          content: '/hr';
          font-size: .8em;
        }
        .jobform {
            display: inline-block !important;
            float: none !important;
        }
        .socket_connection {
          position: absolute;
          right: 1em;
          top: 1em;
          width: 1em;
          height: 1em;
          border-radius: .5em;
          background: red;
          border: 1px solid black;
        }
        .socket_connection.socket_connected {
          background: green;
        }
        select.instance_type {
          width: auto;
        }
        .price_toolow {
          color: yellow;
        }
        .price_ok {
          color: green;
        }
        .topmenu {
          display: block;
        }

        @media screen and (max-width: 800px) {
          #debug {
            display: none;
          }
          #spawninstances {
            margin: 0;
            padding: 0;
          }
          .main-view-container {
            padding-right: 0;
          }
          .panel-content {
            padding-right: 0;
          }
          .navbar .nav>li>a {
            padding: .2em;
          }
          .navbar .brand {
            font-size: 1em;
            padding: 0;
          }
          .logo-icon {
            padding: .2em;
          }
          .page-title {
            padding: .2em;
          }
        }

    </style>
    <!-- Add project modal -->
    <script type="text/ng-template" id="AddProjectModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Add Project</h3>
        </div>
        <div class="modal-body">
            <form novalidate class="simpleform projectcreate">
            <input type="text" name="pjname" ng-model="newProject" />
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="addProject(newProject);hide();">Add</button>
            <button class="btn btn-warning" ng-click="hide()">Cancel</button>
        </div>
    </script>
    <!-- Spawn Instance Confirmation Modal -->
    <script type="text/ng-template" id="SpawnInstancesModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Spawn Instances?</h3>
        </div>
        <div class="modal-body">
            Are you sure you want to spawn {{ instanceArgs.instancecount.num }} {{ instanceArgs.instancetype }} instances at a max bid of ${{ instanceArgs.instanceprice }}/hr each? <br>
            You will be spending up to <strong>${{ getEstimatedMaxPrice() }}</strong> per hour!
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="submitInstanceSpawn();hide();">SPAWN</button>
            <button class="btn btn-warning" ng-click="hide()">Cancel</button>
        </div>
    </script>    
    <!-- Submit Job Confirmation Modal -->
    <script type="text/ng-template" id="SubmitJobsModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Submit Job?</h3>
        </div>
        <div class="modal-body">
            {{ renderOpts }}
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="hide();">Submit</button>
            <button class="btn btn-warning" ng-click="hide()">Cancel</button>
        </div>
    </script>        
    <!-- Nav Menu -->
    <div class="socket_connection" ng-class="{socket_connected: connected}" ng-attr-title="Socket {{!connected ? 'dis' : ''}}connected"></div>
    <div class="topmenu btn-group">
        <!--<div class="btn" ng-click="tab = 'projectselect'" ng-class="{'btn-primary': tab == 'projectselect'}">Projects</div>-->
        <!--<div class="cb" ng-click="tab = 'jobfile'">Jobfile</div>-->
        <div class="btn" ng-click="tab = 'jobqueue'" ng-class="{'btn-primary': tab == 'jobqueue'}">Jobs</div>
        <div class="btn" ng-click="tab = 'instances'" ng-class="{'btn-primary': tab == 'instances'}">Instances</div>
    </div>
    <!-- Upload Form -->
    <div class="renderopts" id="uploadform" ng-show="tab == 'jobfile'">
        <div class="renderopts" id="upload">
            <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)" />
            <pre> {{ percent }} </pre>
        </div>
    </div>
    <!-- Submit Job -->
    <div class="renderopts" id="jobqueue" ng-show="tab == 'jobqueue'">
        <div class="renderopts">
           <form novalidate class="simpleform projectform">
            Selected project: {{ selectedProject.name }} <br>
                <select class="input-sm" ng-model="selectedProject" ng-change="getBlenderFiles()" ng-options="k for (k, v) in projects"></select>
                <button ng-disabled="!connected" type="submit" class="btn btn-mini" bs-modal="'AddProjectModal.html'"><span class="icon-asterisk"></span></button>
            </form>
        jobname: <input type="text" ng-model="jobname"><br>
            <select class="input-sm" ng-model="jobstate" ng-options="s.value for s in jobtypes">
            </select><br>
                <form novalidate class="simple-form jobform" ng-hide="jobstate.value!='animation'">
                    start:<input type="number" min="1" ng-model="animationArgs.start" id="start" class='rangeinput' />
                    end:<input type="number" min="1" ng-model="animationArgs.numframes" id="numframes" class='rangeinput' />
                    <br>
                    <button ng-disabled="disableJobSubmit()" type="submit" class="btn btn-primary btn-lg" ng-click="submitAnimJob()">
                        Add Job
                    </button>
                    <!--<pre>{{ animationArgs }}</pre>-->
                </form>
                <form novalidate class="simple-form jobform" ng-hide="jobstate.value!='subframe'">
                    start: <input type="number" min="0" ng-model="subframeArgs.start" id="numframes" class='rangeinput' />
                    end: <input type="number" min="0" ng-model="subframeArgs.numframes" id="numframes" class='rangeinput' />
                    frameskip: <input type="number" min="1" ng-model="subframeArgs.frameskip" id="frameskip" class='rangeinput' /><br>
                    tilesX: <input type="number" min="1" ng-model="subframeArgs.tilesX" id="tilesx" class='rangeinput' />
                    tilesY: <input type="number" min="1" ng-model="subframeArgs.tilesY" id="tilesy" class='rangeinput' />
                    <br>
                    <button ng-disabled="disableJobSubmit()" type="submit" class="btn btn-primary btn-lg" ng-click="submitSubframeJob()">
                        Populate Jobs
                    </button>
                    <!--<pre>{{ subframeArgs }}</pre>-->
                </form>
                <form novalidate class="simple-form jobform" ng-hide="jobstate.value!='bake'">
                    numobjects:
                    <input type="number" min="1" ng-model="bakeArgs.numobjects" id="numobjects" class='rangeinput' />
                    <br>
                    <button ng-disabled="disableJobSubmit()" type="submit" class="btn btn-primary btn-lg" ng-click="submitBakeJob()">
                        Populate Jobs
                    </button>
                    <!--<pre>{{ bakeArgs }}</pre>-->
                </form>
        </div>
        <div class="renderopts" id="brendaOptions">
            <form novalidate class="simple-form">
                job file:<select class="input-sm" ng-model="renderOpts.blenderFile" ng-options="i for i in blenderFiles" />
                <button ng-click="getBlenderFiles()" ng-disabled="checking_files" class="btn btn-mini blender_files_refresh">
                    <span ng-class="{'icon-refresh': !checking_files, 'icon-circle-arrow-down': checking_files}">
                    </span>
                </button><br>
                res X:<input type="number" min="1" ng-model="renderOpts.renderResolutionX" /><br>
                res Y:<input type="number" min="1" ng-model="renderOpts.renderResolutionY" /><br>
                percentage: <input type="number" min="1" ng-model="renderOpts.renderPercentage" /><br>
                samples: <input type="number" min="1" ng-model="renderOpts.samples" /><br>
                device: <select ng-model="renderOpts.device" ng-options="i for i in devices" /><br>
            </form> 
        </div>
    </div>
    <!-- Spawn Instances -->
    <div class="renderopts" id="spawninstances" ng-show="tab == 'instances'">
        <div class="renderopts">
            <!--<h3>Spawn Instances</h3>-->
            <form class="simple-form">
              <ul>
                <li>Check Pricing:
                    <select class="input-sm instance_type" ng-change="getInstancePrice(instanceArgs.instancetype, true)" ng-model="instanceArgs.instancetype" ng-options="s for s in instancetypes" /></select><button ng-click="getInstancePrice(instanceArgs.instancetype)" ng-disabled="checking_price" class="btn btn-mini instance_price_refresh"><span ng-class="{'icon-refresh': !checking_price, 'icon-circle-arrow-down': checking_price}"></span></button></li>
                    <ul class="instance_prices">
                        <li ng-repeat="(zone, price) in instancePrices[instanceArgs.instancetype]" ng-class="{'btn-primary': zone == instanceArgs.availabilityzone}" class="btn btn-lg">
                            <label><input type="radio" name="availabilityzone" ng-model="instanceArgs.availabilityzone" value="{{zone}}"><h4>{{zone}}</h4><em class="instance_price">{{price}}</em></label>
                        </li>
                    </ul>
                </li>
              
                <li>
                    <input type="range" min="1" max="50" ng-model="instanceArgs.instancecount.num" /> 
                    <br>Spawn <input type="number" min="1" ng-model="instanceArgs.instancecount.num" size="3" id="instancecount" class='rangeinput' /> instances at $<input type="number" min="0.0001" step="0.0001" ng-model="instanceArgs.instanceprice" size="3" id="instanceprice" class='rangeinput' /> per hour
                </li>
                <li>Current Price: <strong class="estimated_price">${{ getEstimatedCurrentPrice() }}/hr</strong></li>
                <li>Max Price: <strong class="estimated_price" ng-class="{price_toolow: !isMaxPriceHighEnough(), price_ok: isMaxPriceHighEnough()}">${{ getEstimatedMaxPrice() }}/hr</strong></li>
                <li> <button type="submit" class="btn btn-primary btn-lg" bs-modal="'SpawnInstancesModal.html'"> Spawn Instances </button></li>
              </ul>
            </form>
        </div>
    </div>

    <div id="debug">
        stdout:
        <ul id="stdout">
            <li ng-repeat="line in stdout track by $index">
                {{ line }}
                <span ng-show="! $last"><br></span>
            </li>
        </ul>
    </div>
</div>
