<div ng-controller='render' ng-init="tab = 'projectselect'">
    <style>
        .renderopts {
            float: left;
            margin-right: 5px;
        }
        .rangeinput {
            width: 65px;
        }
        h3 {
            size: 1.5rem;
        }
        .cb {
            list-style: none;
            padding: 10px;
            display: block;
            background-color: #000;
            color: #FFF;
            border: 1px solid black;
            border-radius: 5px;
        }
        .cb:hover {
            background-color: #4a4a4a;
            color: #FFF;
        }
        #stdout,
        #exitstate {
            width: 400px;
            height: 150px;
            overflow: auto;
        }
        #jobqueue #stdout {
            display:inline-block;   
        }
        .jobform {
            display: inline-block !important;
            float: none !important;
        }
        .socket_connection {
          position: absolute;
          right: 1em;
          top: 1em;
          width: 1em;
          height: 1em;
          border-radius: .5em;
          background: red;
          border: 1px solid black;
        }
        .socket_connection.socket_connected {
          background: green;
        }
        select.instance_type {
          width: auto;
        }
        .price_toolow {
          color: yellow;
        }
        .price_ok {
          color: green;
        }

    </style>
    <!-- Side Menu -->
    <div class="socket_connection" ng-class="{socket_connected: connected}" ng-attr-title="Socket {{!connected ? 'dis' : ''}}connected"></div>
    <div class="sidemenu renderopts">
        <div class="cb" ng-click="tab = 'projectselect'">Projects</div>
        <!--<div class="cb" ng-click="tab = 'jobfile'">Jobfile</div>-->
        <div class="cb" ng-click="tab = 'jobqueue'">Jobs</div>
        <div class="cb" ng-click="tab = 'instances'">Instances</div>
    </div>
    <div class="renderopts" id="projectselect" ng-show="tab == 'projectselect'">
        <form novalidate class="simpleform projectform">
        {{ selectedProject }}
            <select class="input-sm" ng-model="selectedProject" ng-options="k for (k, v) in projects"></select>
            <button ng-disabled="!connected" type="submit" class="btn btn-primary btn-lg" ng-click="tab = 'jobqueue'">Open</button>
        </form>
        <form novalidate class="simpleform projectcreate">
            <input type="text" name="pjname" ng-model="newProject" />
            <button ng-disabled="!connected" type="submit" class="btn btn-primary btn-lg" ng-click="addProject(newProject)">Add project</button>
        </form>
    </div>
    <!-- Upload Form -->
    <div class="renderopts" id="uploadform" ng-show="tab == 'jobfile'">
        <div class="renderopts" id="upload">
            <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)" />
            <pre> {{ percent }} </pre>
        </div>
        <div class="renderopts" id="stdout">
            stdout:
            <span ng-repeat="line in stdout track by $index">
                {{ line }}
                <span ng-show="! $last"><br></span>
            </span>
        </div>
    </div>
    <!-- Submit Job -->
    <div class="renderopts" id="jobqueue" ng-show="tab == 'jobqueue'">
        <div class="renderopts">
            <h3>Queue Jobs</h3>
            <pre>Selected Project: {{ selectedProject }}</pre>
            <select class="input-sm" ng-model="jobstate" ng-options="s.value for s in jobtypes">
            </select>
            jobname: <input type="text" ng-model="jobname">
                <form novalidate class="simple-form" ng-hide="jobstate.value!='animation'" class="jobform">
                    start:<input type="number" min="1" ng-model="animationArgs.start" id="start" class='rangeinput' />
                    end:<input type="number" min="1" ng-model="animationArgs.numframes" id="numframes" class='rangeinput' />
                    <br>
                    <button ng-disabled="!connected" type="submit" class="btn btn-primary btn-lg" ng-click="submitAnimJob()">
                        Add Job
                    </button>
                    <pre>{{ animationArgs }}</pre>
                </form>
                <form novalidate class="simple-form" ng-hide="jobstate.value!='subframe'" class="jobform">
                    start: <input type="number" min="0" ng-model="subframeArgs.start" id="numframes" class='rangeinput' />
                    end: <input type="number" min="0" ng-model="subframeArgs.numframes" id="numframes" class='rangeinput' />
                    frameskip: <input type="number" min="1" ng-model="subframeArgs.frameskip" id="frameskip" class='rangeinput' />
                    tilesX: <input type="number" min="1" ng-model="subframeArgs.tilesX" id="tilesx" class='rangeinput' />
                    tilesY: <input type="number" min="1" ng-model="subframeArgs.tilesY" id="tilesy" class='rangeinput' />
                    <br>
                    <button ng-disabled="!connected" type="submit" class="btn btn-primary btn-lg" ng-click="submitSubframeJob()">
                        Populate Jobs
                    </button>
                    <pre>{{ subframeArgs }}</pre>
                </form>
                <form novalidate class="simple-form" ng-hide="jobstate.value!='bake'" class="jobform">
                    numobjects:
                    <input type="number" min="1" ng-model="bakeArgs.numobjects" id="numobjects" class='rangeinput' />
                    <br>
                    <button ng-disabled="!connected" type="submit" class="btn btn-primary btn-lg" ng-click="submitBakeJob()">
                        Populate Jobs
                    </button>
                    <pre>{{ bakeArgs }}</pre>
                </form>
        </div>
        <div class="renderopts" id="stdout">
            stdout:
            <span ng-repeat="line in stdout track by $index">
                {{ line }}
                <span ng-show="! $last"><br></span>
            </span>
        </div>
    </div>
    <!-- Spawn Instances -->
    <div class="renderopts" id="spawninstances" ng-show="tab == 'instances'">
        <div class="renderopts">
            <h3>Spawn Instances</h3>
            <form class="simple-form">
              <ul>
                <li>Check Pricing:
                    <select class="input-sm instance_type" ng-change="getInstancePrice(instanceArgs.instancetype, true)" ng-model="instanceArgs.instancetype" ng-options="s for s in instancetypes" /></select><button ng-disabled="!connected" ng-click="getInstancePrice(instanceArgs.instancetype)" ng-disabled="checking_price" class="btn">refresh</button></li>
                    <div ng-repeat="(zone, price) in instancePrices[instanceArgs.instancetype]">
                        <label><input type="radio" name="availabilityzone" ng-model="instanceArgs.availabilityzone" value="{{zone}}"> {{zone}}: {{price}}</label>
                    </div>
                </li>
              
                <li>
                    Spawn <input type="number" min="1" ng-model="instanceArgs.instancecount.num" size="3" id="instancecount" class='rangeinput' /> instances at $<input type="number" min="0.0001" step="0.0001" ng-model="instanceArgs.instanceprice" size="3" id="instanceprice" class='rangeinput' /> per hour
                    <br><input type="range" min="1" max="50" ng-model="instanceArgs.instancecount.num" /> 
                </li>
                <li>Current Price: <strong class="estimated_price">${{ getEstimatedCurrentPrice() }}/hr</strong></li>
                <li>Max Price: <strong class="estimated_price" ng-class="{price_toolow: !isMaxPriceHighEnough(), price_ok: isMaxPriceHighEnough()}">${{ getEstimatedMaxPrice() }}/hr</strong></li>
                <li> <button type="submit" class="btn btn-primary btn-lg" ng-click="submitInstanceSpawn()"> Spawn Instances </button></li>
              </ul>
            </form>
        </div>
        <div class="renderopts" id="stdout">
            <pre> {{ instanceArgs }} </pre>
            stdout:
            <span ng-repeat="line in stdout track by $index">
                {{ line }}
                <span ng-show="! $last"><br></span>
            </span>
        </div>
    </div>
</div>
